= form_for(@user, multipart: true) do |f|
  .container
    .row
      .col-md-3
        %p Change your profile picture
        = image_tag @user.avatar.url(:medium), class: "img-responsive img-rounded"
        = f.label :avatar, "Upload a new photo", class: "label"
        = f.file_field :avatar, class: "form-control"
      .col-md-6
        .well
          = if @user.errors.any?
            #error_explanation
              %h2
                = pluralize(@user.errors.count, "error")
                stopped you from signing up:

              %ul
                = @user.errors.full_messages.each do |message|
                  %li= message

          .row
            .form-group
              =f.label :first_name, class: "label"
              = f.text_field(:first_name, autofocus: true, id: "first_name", class: "form-control", placeholder: "Enter your first name")
            .form-group
              =f.label :last_name, class: "label"
              = f.text_field(:last_name, id: "last_name", class: "form-control", placeholder: "Enter your last name")
            .form-group
              =f.label :email, class: "label"
              = f.email_field(:email, id: "email", class: "form-control", autocomplete: "off", placeholder: "Enter your email")
            .form-group
              =f.label :password, class: "label"
              = f.password_field(:password, id: "password", class: "form-control", autocomplete: "off", placeholder: "Enter a new password")
            %hr
            %h4.text-center
              .fa.fa-user.text-primary
              General Information
            .form-group
              =f.label :bio, class: "label"
              = f.text_area :bio, class: "form-control", rows: 8, placeholder: "Enter a bio about yourself"
            .form-group
              .label
                Team
                %span.text-muted (Optional)
              %br
              =f.collection_select :team_id, Team.all, :id, :name, {prompt: "Select a team to join"}, {class: "form-control"}
            .form-group
              .label Set a Goal!
              %br
              .btn-group{data:{toggle: "buttons"}}
                .btn.btn-primary.btn-sm
                  $500
                  = f.radio_button :raise_goal, 500
                .btn.btn-primary.btn-sm
                  $1,000
                  = f.radio_button :raise_goal, 1000
                .btn.btn-primary.btn-sm
                  $2,000
                  = f.radio_button :raise_goal, 2000
                .btn.btn-primary.btn-sm
                  $5,000
                  = f.radio_button :raise_goal, 5000
            %br
          = f.submit "Save changes", class: "btn btn-block btn-success"
