.container
  .page-header.text-center
    %h1 Join the Campaign
    .text-center
      %p= link_to("Sign up", new_user_registration_path, class: "btn btn-primary btn-lg")
  - if params[:search].nil?
    .row
      %h3
        %i.fa.fa-star.text-warning
        Top 6
        = APP_CONFIG['participant_type'].pluralize(2).capitalize
      = render partial: "profiles", locals: {object: @top_6_users}
    %hr
  .row
    %h3
      All
      = APP_CONFIG['participant_type'].pluralize(2)
  .row
    .col-xs-4
      .form-inline
        = form_tag(users_path, :method => "get", id: "search-form") do
          .input-group
            = text_field_tag(:search, params[:search], class: "form-control input-md", placeholder: "Search #{APP_CONFIG['participant_type'].pluralize(2)}...")
            %span.input-group-btn
              %button.btn.btn-default{type:"button"}
                %span.glyphicon.glyphicon-search{aria: {hidden:"true"}}
  .row
    %br
    - @users = @users.paginate(page: params[:page]).per_page(24)
    = render partial: "profiles", locals: {object: @users}
  .pagination.pagination-centered
    = will_paginate(@users, renderer: BootstrapPagination::Rails)
