<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Class year:</strong>
  <%= @user.class_year %>
</p>

<p>
  <strong>Raise goal:</strong>
  <%= @user.raise_goal %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Tshirt:</strong>
  <%= @user.tshirt %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @user.contact_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @user.contact_number %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
