.jumbotron
  %video#bgvid{:autoplay => true, :loop => true, :poster => "https://s3.amazonaws.com/htb-dc/htb-bg.jpg"}
    %source{:src => "https://s3.amazonaws.com/htb-dc/htb-video.mp4", :type => "video/mp4"}
    %source{:src => "https://s3.amazonaws.com/htb-dc/htb-video.webm", :type => "video/webm; codecs=vp8),vorbis"}
    %img{src: "https://s3.amazonaws.com/htb-dc/bg-image.jpg"}
  /[if lt IE 9]
    :javascript
      document.createElement('video');
  .container.text-center
    %h1=APP_CONFIG['sitename']
    %br
    %p="Support our #{APP_CONFIG['participants']}: 100% of your donations go to cancer research"
    %br
    %br
    .row
      .col-md-4.col-md-offset-4
        = link_to "Join the event!", "https://secure.www.wfu.edu/event-registration/nyc-hit-the-bikes-at-soulcycle-10-01-2016-1790063408", class: "btn btn-block btn-lg btn-primary donation-amount-btn", id: "stripeButton"
        %br
        %br
        = link_to "or donate to the cause", donations_path, class: "btn btn-md btn-default btn-sign-up"
    .row
      %h2.text-center Saturday, October 1st at 2pm
      %p.text-center.lead.location= APP_CONFIG['location_of_event'].html_safe

.container
  .row
    .col-md-10.col-md-offset-1.text-center
      %br
      %br
      %p.lead=APP_CONFIG['site_description'].html_safe
      %br
      %br
  - if @sponsors.count > 0
    .row
      %br
      %h2.text-center We Thank Our Supporters
      - @sponsors.each do |sponsor|
        .col-md-3
          .thumbnail
            .image-spaced
              = link_to image_tag(sponsor.logo.url(:medium), size: "150", class: "image-spaced center-block"), sponsor.url
            .text-center= sponsor.name
