= form_for(@donation) do |f|
  - if @donation.errors.any?
    #error_explanation
      %h2
        = pluralize(@donation.errors.count, "error")
        prohibited this donation from being saved:
      %ul
        - @donation.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :amount
    %br/
    = f.text_field :amount
  .field
    = f.label :is_registration_fee
    %br/
    = f.check_box :is_registration_fee
  .field
    = f.label :is_donation
    %br/
    = f.check_box :is_donation
  .field
    = f.label :donor_email
    %br/
    = f.text_field :donor_email
  .actions
    = f.submit
