.container
  %h1.page-header.text-center
    OUR TEAM
  .row
    .col-md-12
    %p Our international team brings medical, financial, and business expertise to our foundation in West Africa.
    %h2 NICOLE JOHNSEN, FOUNDER  EXECUTIVE DIRECTOR
    %div{:class => "row"}
      .col-md-2
        = image_tag( '/headshots/nicole.jpg', style: "height: 150px")
      .col-md-6
        %p Nicole drives the overall organizational strategy of CCFI with a core focus on fundraising, website design, and program development. Nicole is a member of CCFI&#x2019;s Board of Directors, and is responsible for CCFI&#x2019;s sustainable growth. As an Entrepreneurship  Social Enterprise minor at Wake Forest University and our Graphic Designer, Nicole brings business tactics and expertise to CCFI as well as over 6 years of graphic designing experience.
    %h2 RICHARD MENSAH, PHYSICAL THERAPY COORDINATOR
    %div{:class => "row"}
      .col-md-2
        = image_tag( '/headshots/richard.jpg', style: "height: 150px")
      .col-md-6
        %p Richard, a practicing physical therapist at Cape Coast Central Regional Hospital, is the Physical Therapy Coordinator for our children at CCFI. Richard is responsible for creating a positive and optimistic change in the way the parents of challenged children see physical therapy. Richard relays the importance of integrating physical therapy into each child&#x2019;s daily routine, encourages the parents to bring their children to the clinic for weekly visits (while continuing daily home exercises), and also assists in the clinical aspects of physical therapy.
        %p Richard studied at Physiotherapy and Othortic Training School where he earned his DPT (Doctor of Physical Therapy Degree), and has also supplemented his degree by completing an evidence based physiotherapy course that focuses on the chemistry, biology, and physics behind physical therapy.
    %h2 REACHEL ADJAOTTOR, COMMUNITY OUTREACH  PROJECT COORDINATOR
    %div{:class => "row"}
      .col-md-2
        = image_tag( '/headshots/reachel.jpg', style: "height: 150px")
      .col-md-6
        %p Reachel is the parent of Cornelius (one of our children at CCFI) and has experienced the challenges of caring for a disabled child in Ghana first-hand. As the Community Outreach  Project Coordinator, Reachel focuses on coordinating trips to various communities throughout Ghana. These trips often include educational speeches which are meant to encourage parents of disabled children to bring their children out of hiding and help them get the best care possible. Educational speeches commonly stress the importance of: allowing their children to socialize with others, participating in daily physical therapy, and speaking to a dietician to ensure their child is receiving the proper nourishment. Reachel is also involved in recruiting new families with disabled children into the organization, overseeing and directing weekly meetings within the CCFI, and planning events.
        %p Reachel earned her BSN (Bachelor of Science in Nursing) and currently works for the MoH (Ministry of Health) in Ghana. Reachel is a part of the MoH's Ghana Health Service where she is involved in providing public health services, managing Ghana's healthcare industry, and aiding in maintaining Ghana's hospitals and medical education system.
    %h2 LINS BARWICK, FINANCIAL COORDINATOR
    %div{:class => "row"}
      .col-md-2
        = image_tag( '/headshots/lins.jpg', style: "height: 150px")
      .col-md-6
        %p Lins, our Financial Coordinator at CCFI, brings years of financial planning, fundraising, and management expertise to our Foundation. Lins&#x2019; core focus in CCFI is on the management and delegation of our funds. Lins is also in charge of the budget planning and accounting sectors of CCFI; his years of financial expertise come from his background of holding a variety of Treasurer positions during his time at Wake Forest University. While Lins is formally known as the Financial Coordinator throughout CCFI, he is also able to offer unequivocal fundraising advice based on his experience of founding, managing, and starting the Angel Komenda Fund, a largely personal and very profitable fundraiser aimed at raising money for Angel, a child who is now represented in CCFI.
    %h2 DR. IRENE VANDARPUYE, CHILD DEVELOPMENT REASEARCHER  DATA ANALYST
    %div{:class => "row"}
      .col-md-2
        = image_tag( '/headshots/irene.jpg', style: "height: 150px")
      .col-md-6
        %p Dr. Vandarpuye, a Special Education specialist, is our primary research analyst who designs educational programs for our children, quantifies the results through data analytics, and then improves the programs based on her analysis. Dr. Vandarpuye also offers counseling to our parents with disabled children, and is focused on improving parental involvement in education.
        %p Dr. Vandarpuye earned her PhD at the University of Leeds where she studied Special Education and focused on parental perception, expectation, and involvement in inclusive education. Dr. Vanderpuye also holds a Master&#x2019;s degree in Special Education, as well as a Bachelor&#x2019;s degree in Educational Psychology.  Dr. Vandarpuye is not only our research analyst, but she is also a professor at the University of Cape Coast.
    %h2 BOARD OF DIRECTORS
    %p Nicole Johnsen, Reachel Adjaottor, Peter Adom, Faustina Amoh, Gabriel Adams, Patricia Abena Kissi, Charles Kofi Essuman Mensah
