%p
  Dear
  = succeed "," do
    = @referral.name.split.first
%p=APP_CONFIG['donation_email_text']
%p
  You can send a donation by going to 
  = succeed "." do
    = link_to "my profile", user_url(@user)
%p="If you would prefer to send a check, it can be made out to “#{APP_CONFIG['charity_name']}” and sent to the following address:"
%br
%em
  = APP_CONFIG['charity_name']
  %br
  = APP_CONFIG['address_line_1']
  %br
  = APP_CONFIG['address_line_2']
  %br
  ="#{APP_CONFIG['city']}, #{APP_CONFIG['state']} #{APP_CONFIG['zip_code']}"
%br
%p Thank you in advance for your support! Your generosity means a great deal to both myself and the patients at the WFU Comprehensive Cancer Center.
%br
%p Sincerely,
%p= @user.first_name
