!!!
%html
  %head
    %title=APP_CONFIG['sitename']
    = stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true)
    = javascript_include_tag('application', 'data-turbolinks-track' => true)
    = csrf_meta_tags
    %script{:src => "https://checkout.stripe.com/checkout.js"}
    = analytics_init if Rails.env.production?
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    // Facebook sharing
    %meta{:content => "#{@sitename}", :property => "og:site_name"}/
    - if content_for?(:head)
      = content_for(:head)
    - else
      %meta{:content => "#{APP_CONFIG['sitename']}", :property => "og:title"}/
      %meta{:content => "#{root_url}images/app_icon_fb.jpg", :property => "og:image:url"}/
      %meta{:content => "#{root_url}images/app_icon_fb.jpg", :property => "og:image"}/
      %meta{:content => "#{request.original_url}", :property => "og:url"}/
      %meta{:content => "#{APP_CONFIG['site_description']}", :property => "og:description"}/

    %script{:src => "https://use.typekit.net/mff8khh.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
  %body
    %nav.navbar.navbar-inverse
      .container
        #navbar-header
          %button{type: "button", class: "navbar-toggle collapsed", data:{toggle: "collapse", target: "#navbar-full"}}
            %i.fa.fa-bars
          .collapse.navbar-collapse#navbar-full
            %ul.nav.navbar-nav
              %li= link_to(APP_CONFIG['sitename'], root_path, class: "navbar-brand")
              %li.divider-vertical.hidden-xs
              %br.visible-xs
              %br.visible-xs
              %li= link_to("About Us", { controller: '/about', action: :index })
              %li= link_to("Donate", donations_path)
              %li= link_to(APP_CONFIG['participant_type'].pluralize(2), users_path)
              %li= link_to("Teams", teams_path)
              - if Sponsor.count >= 1
                %li= link_to("Our Sponsors", sponsors_path)
            %ul.nav.navbar-nav.navbar-right
              %li.divider-vertical.hidden-xs
              - if can? :manage, :all
                %li
                  = link_to controller: "/admin", action: :index do
                    %i.fa.fa-key.text-warning
              - if user_signed_in?
                %li
                  = link_to("Profile", user_path(current_user))
                %li
                  %p.navbar-btn= link_to("Logout", destroy_user_session_path, method: :delete, class: "btn btn-sign-up")
              - else
                %li
                  = link_to("Log In", new_user_session_path)
                %li
                  %p.navbar-btn= link_to("Sign Up", new_user_registration_path, class: "btn btn-sign-up")
    = yield
  %br
  %br
  %br
  #footer
    .container
      .row
        .col-md-4
          %h5 Get to know us
          %ul.list-unstyled
            %li
              .fa.fa-icon.fa-twitter
              %a{href: "#{APP_CONFIG['twitter']}"}Twitter
            %li
              .fa.fa-icon.fa-instagram
              %a{href: "#{APP_CONFIG['instagram']}"}Instagram
            %li
              .fa.fa-icon.fa-facebook
              %a{href: "#{APP_CONFIG['facebook']}"}Facebook
            %li
              .fa.fa-icon.fa-youtube
              %a{href: "#{APP_CONFIG['youtube']}"}YouTube
        .col-md-4
          %h5 Contact information
          %address
            %strong= APP_CONFIG['sitename']
            %br
            = APP_CONFIG['address_line_1']
            %br
            = APP_CONFIG['address_line_2']
            %br
            = APP_CONFIG['city']
            ,
            = APP_CONFIG['state']
            = APP_CONFIG['zip_code']
            %br
            %p
              .fa.fa-icon.fa-envelope
              %a{href: "mailto:#{APP_CONFIG['email']}"}Email Us
        .col-md-4
          %h5 Our partners
          %ul.list-unstyled
            %li 
              %a{href: "http://campuslife.wfu.edu/"}WFU Campus Life
            %li
              %a{href: "http://www.wakehealth.edu/Comprehensive-Cancer-Center/"}WFBMC Comprehensive Cancer Center
            %li
              %a{href: "http://philanthropy.campuslife.wfu.edu/brian-piccolo-cancer-fund-drive/"}Brian Piccolo Cancer Research Fund
          %p
            %br
            This website was built by
            %br
            %a{ href: "http://www.thedemon.io"}
              %img{src: "/demon-io.svg", width: "225"}
            %br
            %br
